<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Contact Us</title>

    <!-- CSS  -->
    <link href="/static/app/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/app/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body class="black">
    <nav class="black" role="navigation">
      <div class="nav-wrapper container">
      <a id="logo-container" href="/index.html" class="brand-logo"><img src="/static/app/content/logo.jpg" height="65" width="50"></a>
      <ul class="right hide-on-med-and-down ">
        <li><a href="/teams" class="green-text text-accent-3 text-lighten-1">Teams</a></li>
        <li><a href="#" class="green-text text-accent-3 text-lighten-1">Exhibition</a></li>
        <li><a href="#" class="green-text text-accent-3 text-lighten-1">Board</a></li>
        <li><a href="#" class="green-text text-accent-3 text-lighten-1">Sponsor</a></li>
        <li><a href="/contact" class="green-text text-accent-3 text-lighten-1">Contact</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/teams"><h2 class="green accent-3 lighten-1">Teams</h2></a></li>
        <li><a href="#">Exhibition</a></li>
        <li><a href="#">Board</a></li>
        <li><a href="#">Sponsor</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
    </nav>
    <div class="container">
    <br>
    <h2 class="green-text text-accent-3 text-lighten-1"><center>Use the form below to contact us with any questions!</center></h2>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="mdi-action-account-circle prefix"></i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="mdi-communication-email prefix"></i>
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="mdi-editor-mode-edit prefix"></i>
            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
            <label for="icon_prefix2">Message</label>
          </div>
        </div>
        <center><button class="btn waves-effect waves-light green accent-3 lighten-1" type="submit" name="action">Submit
          <i class="mdi-content-send right"></i>
        </center></button>
        <br>
      </form>
    </div>
    </div> <!--end of container class -->

    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Bhangra in the Burgh</h5>
            <p class="grey-text text-lighten-4">We are a team of college students working to make each year's competition better. Any amount would help support and continue our mission and is greatly appreciated.</p>

          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="https://www.facebook.com/bhangraintheburghofficial?fref=ts">Facebook</a></li>
              <li><a class="white-text" href="https://twitter.com/cmubib">Twitter</a></li>
              <li><a class="white-text" href="https://instagram.com/bhangraintheburgh/">Instagram</a></li>
              <li><a class="white-text" href="#!">Pinterest</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Aatish Nayak and Nikita Bokil</a>
        </div>
      </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/static/app/js/materialize.js"></script>
    <script src="/static/app/js/init.js"></script>

  </body>
</html>