<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Bhangra in the Burgh</title>

  <!-- CSS  -->
  <link href="/static/app/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/app/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body class="black">
  <nav class="black" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/index.html" class="brand-logo"><img src="/static/app/content/logo.jpg" height="65" width="50"></a>
      <ul class="right hide-on-med-and-down ">
        <li><a href="/teams" class="green-text text-accent-3 text-lighten-1">Teams</a></li>
        <li><a href="#" class="green-text text-accent-3 text-lighten-1">Exhibition</a></li>
        <li><a href="#" class="green-text text-accent-3 text-lighten-1">Board</a></li>
        <li><a href="#" class="green-text text-accent-3 text-lighten-1">Sponsor</a></li>
        <li><a href="/contact" class="green-text text-accent-3 text-lighten-1">Contact</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/teams"><h2 class="green accent-3 lighten-1">Teams</h2></a></li>
        <li><a href="#">Exhibition</a></li>
        <li><a href="#">Board</a></li>
        <li><a href="#">Sponsor</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center green-text text-accent-3 text-lighten-1">Bhangra in the Burgh 9</h1>
        <div class="row center">
          <h5 class="header col s12 light">Who will be crowned Greatest of All Time? Find out on November 1st, 2014 at Soldiers & Sailors Memorial Hall</h5>
        </div>
        <div class="row center">
          <a href="teams.html" id="download-button" class="btn-large waves-effect waves-light green accent-3 lighten-1">Meet the teams</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/static/app/content/background1.jpg" alt="Unsplashed background img 2"></div>
  </div>


  <div class="container black">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="mdi-social-group"></i></h2>
            <h5 class="center green-text text-accent-3 text-lighten-1">About Us</h5>

            <p class="light green-text text-accent-3 text-lighten-1">Bhangra in the Burgh brings together the top bhangra teams from across the nation to compete on one stage in a night of music, dance, and South Asian culture. Since the competition started in 2007, it has only continued to grow in popularity and acclaim. The competition, which is the largest student run event in Pittsburgh, has attracted a sold out crowd of 2,500 people for the past seven years. The Bhangra in the Burgh organization uses the competition as a vehicle to raise money every year for a local charity. From the time that this organization was founded, we have raised over $75,000 and hope to go to unprecedented heights this year.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="mdi-action-accessibility"></i></h2>
            <h5 class="center green-text text-accent-3 text-lighten-1">What is Bhangra?</h5>

            <p class="light green-text text-accent-3 text-lighten-1">Bhangra is a lively and energetic folk dance that is usually performed in celebration of the annual harvest. It originates from a region of extending from Northwest India to East Pakistan, known as Punjab. The dance is accompanied with a combination of various classical instruments, such as the ‘dhol’, along with traditional lyrics. By fusing with Western elements, such as hip-hop and reggae, bhangra has been dramatically transformed. The growing influence of this new form of bhangra has captured the attention of second and third generation Punjabis worldwide, primarily in Canada and the United States.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="mdi-action-account-balance"></i></h2>
            <h5 class="center green-text text-accent-3 text-lighten-1">Charity Work</h5>

            <p class="light green-text text-accent-3 text-lighten-1">Bhangra in the Burgh is honored to be able to donate all its profits to Homeless Children's Education Fund (HCEF) this year to support the advancement of educational opportunities for children experiencing homelessness in the Pittsburgh community. Since its founding in 1999, HCEF works to advance the education of children and youth experiencing homelessness in Allegheny County, Pennsylvania by providing educational programs and services, acting as a trusted advocate, sharing expertise, and facilitating collaborative relationships that maximize the collective impact among community partners. To learn more about their mission visit the link here:</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"><strong>Meet our winners from last year! Will you be next?</strong></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/static/app/content/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send teal-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"><strong>It's time for 9ine.</strong></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/static/app/content/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Bhangra in the Burgh</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working to make each year's competition better. Any amount would help support and continue our mission and is greatly appreciated.</p>
          <!-- music plays automatically! -->
          <audio controls autoplay>
            <source src="/static/app/content/moorni.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://www.facebook.com/bhangraintheburghofficial?fref=ts">Facebook</a></li>
            <li><a class="white-text" href="https://twitter.com/cmubib">Twitter</a></li>
            <li><a class="white-text" href="https://instagram.com/bhangraintheburgh/">Instagram</a></li>
            <li><a class="white-text" href="#!">Pinterest</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Aatish Nayak and Nikita Bokil</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/app/js/materialize.js"></script>
  <script src="/static/app/js/init.js"></script>

  </body>
</html>
